@use '@angular/material' as mat;

.toolbar-primary {
  @include mat.toolbar-overrides((
    container-background-color : var(--mat-sys-primary),
    container-text-color : var(--mat-sys-on-primary),
  ));
}

.toolbar-warn {
  @include mat.toolbar-overrides ((
    container-background-color : var(--mat-sys-error),
    container-text-color : var(--mat-sys-on-error)
  ))
}

html {
  @include mat.theme((
    color: (
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

mat-sidenav-container,
.mat-drawer-container,
.mat-drawer,
.mat-drawer-inner-container,
.mat-drawer-content,
mat-sidenav {
  border-radius : 0 !important;
}
